includes:
  - vendor/cambis/silverstan/configuration.neon

parameters:
  level: 8
  paths:
    - src
  treatPhpDocTypesAsCertain: false
  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: true
  reportUnmatchedIgnoredErrors: true
